* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Poppins";
}

html {
    scroll-behavior: smooth;
}

:root {
    --background: rgb(24, 24, 24);
    --second-background: rgb(21, 21, 21);
    --padding-x: clamp(24px, -26.2857px + 15.7143vw, 200px);
    --padding-y-nav: clamp(16px, 13.4286px + 0.8036vw, 25px);
    --padding-x-nav: clamp(20px, -8.5714px + 8.9286vw, 120px);
    --font-z: clamp(30px, 21.4286px + 2.6786vw, 60px);
}

body {
    min-height: 100vh;
    background-color: var(--background);
}

img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.nav {
    position: sticky;
    top: 0;
    width: 100%;
    padding: var(--padding-y-nav) var(--padding-x-nav);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(15, 15, 15, 0.8);
    backdrop-filter: blur(10px);
    z-index: 100;
}

ul {
    display: flex;
    align-items: center;
    gap: 2rem;
}

ul a {
    color: #fff;
    transition: 0.2s ease-in-out;
}

ul a:hover {
    opacity: 1;
}

.logo {
    font-size: clamp(26px, 24.2857px + 0.5357vw, 32px);
    color: #fff;
    font-weight: 800;
    transition: 0.2s ease-in-out;
}

.logo:hover {
    opacity: 1;
}

.btn {
    padding: 0.75rem 1rem;
    color: #fff;
    background-color: transparent;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    border: 2px solid #fff;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;
    width: 50%;
    display: block;
    margin: 2rem auto 0;
}

.btn:hover {
    box-shadow: 4px 4px;
}

span {
    background: linear-gradient(to right, #6cff52, #3ec5ff);
    background-clip: text;
    color: transparent;
}

#menu {
    color: #fff;
    font-size: 45px;
    display: none;
    cursor: pointer;
}

section,
footer {
    padding: 7% var(--padding-x);
}

.section-name {
    font-size: var(--font-z);
    text-align: center;
    margin: 0.5rem 0 1rem;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    color: #fff;
}

#home img {
    width: 30%;
    border-radius: 50%;
    animation: sombra-pulso 2s forwards;
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    max-width: 600px;
}

.info-box h1 {
    font-size: 3rem;
    font-weight: 500;
}

.info-box h3 {
    font-size: 2rem;
    font-weight: 400;
}

.info-box p {
    opacity: 0.7;
}

.btn-box {
    display: flex;
    gap: 1rem;
}

.btn-box .btn:nth-of-type(2) {
    background-color: #fff;
    color: var(--background);
}

.btn-box .btn:nth-of-type(2):hover {
    background-color: var(--background);
    color: #fff;
}

::-webkit-scrollbar {
    width: 14px;
    background-color: var(--background);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #6cff52, #3ec5ff);
    border-radius: 7px;
}

#about {
    background-color: var(--second-background);
    display: flex;
    gap: 5rem;
    align-items: start;
}

#about>div:nth-child(odd) {
    translate: -50px 0;
}

#about>div:nth-child(even) {
    translate: 50px 0;
}

#about>div {
    animation: show linear both;
    animation-timeline: view();
    animation-range: 10% 30%;
}

#about .section-name {
    text-align: left;
}

#about .about-img {
    flex-shrink: 0;
    width: 27vw;
    border-radius: 1rem;
    position: relative;
    z-index: 1;
}

.about-img img {
    border-radius: inherit;
}

.about-img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid #3ec5ff;
    top: 3%;
    left: 3%;
    z-index: -1;
}

.about-box p {
    color: #fff;
    opacity: 0.8;
    font-size: 1.1rem;
    line-height: 1.7;
}

#skills {
    background-color: var(--background);
}

#skills>div,
#contact>div {
    animation: change-scale linear both;
    animation-timeline: view();
    animation-range: 10% 30%;
}

.skills-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.skills-list li {
    text-transform: uppercase;
    padding: 12px;
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
    border: 1px solid #3ec5ff;
    border-radius: 7px;
    align-items: center;
    color: #ccc;
    transition: transform .3s;
    cursor: pointer;
}

.skills-list li:hover {
    transform: scale(1.1);
}

.skills-list i {
    font-size: 50px;
}

.skills-list i.html-color {
    color: #E34F26;
}

.skills-list i.css-color {
    color: #1572B6;
}

.skills-list i.git-color {
    color: #F05033;
}

.skills-list p {
    font-size: 13px;
    margin-top: auto;
}

.skills-list img {
    width: auto;
}

.skills ul {
    font-size: 1.3rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    color: #fff;
    opacity: 0.8;
    align-items: baseline;
}

.skills ul li span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.3rem;
    transition: 0.3s ease-in-out;
}

.skills ul li span:hover {
    transform: translateX(10px);
}

#projects {
    background-color: var(--second-background);
}

#projects>div {
    animation: change-scale linear both;
    animation-timeline: view();
    animation-range: 3% 10%;
}

.header {
    text-align: center;
    font-size: 5rem;
    margin: 0.5rem 0;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    justify-content: center;
    gap: 2rem;
}

.box {
    max-width: 450px;
    border: 3px solid rgb(49, 49, 49);
    border-radius: 0.5rem;
    overflow: hidden;
    object-fit: cover;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.box:hover {
    border-color: rgb(100, 100, 100);
}

.box img {
    aspect-ratio: 3/2;
}

.box .card-body {
    padding: 22px 20px;

}

.box h4 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #f08080;
    letter-spacing: 1px;
}

.box p {
    opacity: 0.8;
    margin-bottom: 5px;
}

.box .source {
    text-align: center;
    font-size: clamp(40px, 37.1429px + 0.8929vw, 50px);
}

.box .source a {
    display: inline-block;
    color: currentColor;
    opacity: .7;
    margin: 0 .5rem;
    transition-property: opacity, transform;
    transition-duration: .4s;
    transition-timing-function: ease-in-out;

    &:hover {
        opacity: 1;
        transform: translateY(-5px);
    }
}

.box .used {
    display: flex;
    gap: .8rem;
    flex-wrap: wrap;
}

.box .used .used-item {
    border-radius: 5px;
    padding: 5px 11px;
    background-color: rgb(51, 65, 85, 0.2);
}


#contact {
    background-color: var(--background);
}

form {
    max-width: 700px;
    margin: 0 auto;
}

form .input-box {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: .75rem;
    margin-bottom: 1rem;
}

form input,
textarea {
    width: 100%;
    font-family: inherit;
    font-size: 1.1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    resize: none;
}

form input:focus {
    background: rgb(229, 229, 229);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--second-background);
    width: 100%;
}

.col-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.col-box {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.col-box i {
    font-size: 2rem;
}

.col-right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #fff;
    max-width: 500px;
}

.col-right span {
    font-size: 1.3rem;
}

.social-icons {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    gap: 1.75rem;
}

.social-icons>:last-child {
    margin-left: 5px;
}

.social-icons a {
    color: #6cff52;
}

.social-icons i {
    font-size: 3rem;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.col-right .social-icons i {
    font-size: 2rem;
}

.social-icons i:hover {
    color: #fff;
}

@keyframes sombra-pulso {

    from {
        translate: 0 30px;
    }

    to {
        box-shadow: 0 0 40px #3ec5ff;
        translate: 0 0;
    }
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes change-scale {
    from {
        opacity: 0;
        scale: 0.8;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

@media(max-width:968px) {

    .nav .btn {
        display: none;
    }

    #home h1 {
        font-size: 4rem;
    }

    #home h3 {
        font-size: 2rem;
    }

    #home img {
        width: 40%;
    }

    #about {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    #about .about-img {
        width: 75%;
    }

    #about ul {
        font-size: 1rem;
    }
}

@media(max-width:768px) {

    .links {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3rem;
        color: #fff;
        text-align: center;
        background: rgb(0, 0, 0, 0.9);
        display: none;
    }

    .links a {
        margin: 2rem 0;
        display: block;
        font-size: 1.5rem;
        color: #fff;
    }

    .links.active {
        display: block;
    }

    #menu {
        display: block;
    }

    #home h1 {
        font-size: 2.5rem;
    }

    #home h3 {
        font-size: 1.5rem;
    }

    #home img {
        width: 60%;
    }

    #about .skills {
        gap: 3rem;
    }

    #projects header {
        font-size: 3rem;
    }

    #contact .header {
        font-size: 3rem;
    }

    #contact .input-box span {
        font-size: 1.2rem;
    }

    .input-box input {
        padding: .75rem 1rem;
    }

    .social-icons i {
        font-size: 2.4rem;
    }

    .btn {
        padding: .5rem .75rem;
        width: 70%;
    }
}